.HeaderSection__buttons {
  border: 1px solid $shiny-shamrock;
  color: $white;
  background-color: $green-light;
  font-family: $Roboto;
  font-weight: $regular;
  font-size: $medium;

  &:hover{
    color: $green-light;
    border: 1px solid $pastel-gray;
    background-color: $pastel-gray;
  }
}
