.HeaderSection__buttons {
  border: 1px solid $shiny-shamrock;
  color: $white;
  background-color: $green-light;
  font-family: $Roboto;
  font-weight: $regular;
  font-size: $medium;

  &:hover{
    color: $green-light;
    border: 1px solid $pastel-gray;
    background-color: $pastel-gray;
  }
}

.sectionEntrenamiento__description{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionEntrenamiento__btn{
  padding: 3rem 7rem;
  background-color: $green-light;
  //background-color: rgba(64, 71, 83, 1);
  color: $white;
  border: none;
  font-size: 2em;
  font-family: $Open-sans;
}

.sectionEntrenamiento__btn:hover{
  background-color: $white;
//background-color: rgba(64, 71, 83, 0.5);
border: 2px solid $green-light;
box-shadow: -2px 2px 10px black;
  }
