h1{
  font-family: $Roboto;
  color:$black;
  font-size: $xx-large;
  font-weight: $bold;
}

h2{
  @include relative-converter(font-size, rem, 30, 16);
  font-family: $Roboto;
  font-weight: $bold;
}

p {
  @include relative-converter(font-size, rem, 16, 16);
  font-family: $Open-sans;
  color:$black;
  /*font-size: $medium;*/
  line-height: 25px;
}
