//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$black: #000000;
$Purple: #4E0431;

//Tipografia
$Roboto: 'Roboto', sans-serif;
$Open-sans: 'Open Sans', sans-serif;

//Peso de fuente
$regular: 400;
$Light: 300;
$bold: 700;

//Font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
