//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$black: #000000;
$Purple: #4E0431;
$Purple-light: #BE85A7;
$shiny-shamrock: #4ca866;
$pastel-gray: #bddfc7;

//Tipografia
$Roboto: 'Roboto', sans-serif;
$Open-sans: 'Open Sans', sans-serif;
$Racing-sans-one: 'Racing Sans One', cursive;

//Peso de fuente
$regular: 400;
$Light: 300;
$bold: 700;

//Font sizes
$xxx-large: 70px;
$xx-large: 30px;
$x-large: 26px;
$large: 18px;
$medium: 16px;
$small: 12px;
