.navbar{
background: $Purple;
}

.subtitulo{
  font-size: 12px;
  font-weight: 300;
  font-family: $Roboto;
  margin-top: 30px;
  margin-right: 0;
  position: absolute;
}

.logo{
  font-family: $Racing-sans-one;
  font-weight: $bold;
  font-size: $xx-large;
}
