.navbar{
background: $purpura-light;
}

.subtitulo{
  font-size: 12px;
  font-weight: 300;
  font-family: $Roboto;
  top: -10px;
  position: relative;
  display: block;
}

.logo{
  font-family: $Racing-sans-one;
  font-weight: $bold;
  font-size: $xx-large;
  padding: 0;
}
