.sectionAboutUs{
  background-color: $hielo;
}

.sectionAboutUs__content p{
  text-align: justify;
margin-top: 20px;
margin-bottom: 20px;
}

.sectionAboutUs__title{
animation: aparecer_texto 1s;
}

@keyframes aparecer_texto{
0% { opacity: 0;}
50%{ opacity: 0;}
100%{ opacity: 1;}
}
