.sectionContact{
  background-image: url('../../assets/img/fondo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--color{
background: linear-gradient(
rgba(25, 25, 25, 0.7),
rgba(0,0,0,0.8)
),;
min-height: 100vh;
  }
}

.sectionContact__title{
  color: $white;
  text-align: center;
}

.sectionContact__sneaker{
  fill: $white;
}

.form-control {
  background-color: rgba(0,0,0,0.27);
}

::-webkit-input-placeholder{ /* Edge */
  color:$white!important;
}

:-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color: $white!important;
}

::placeholder{
  color:$white!important;
}
